<div class="col-md-4">
  <%= form_for :listrefresh, url: listrefreshes_path do |b| %>
      <div class="form-group">
        <%= b.submit "Refresh The List!", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>