<!-- DARK CALLOUT -->
<div class="callout dark arrow-down">
  <div class="container text-center">

    <h2>New to CrossFit?</h2>
    <p>If this is your first time and you're thinking about dropping by your local box, or you're simply curious as to what CrossFit actually is, feel free to take a moment and learn a little more about the movement that's been growing all over the globe.</p>

  </div>
</div>
<!-- /DARK CALLOUT -->
<!-- VIDEO , PARALLAX -->
<section class="nopadding">
  <div class="parallax parallax-1 text-center">
    <div class="container">

      <div class="row"><!-- responsive centered video -->
        <div class="col-md-2 col-sm-2"><!-- left spacer --></div>
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="embed-responsive embed-responsive-16by9"><!-- bootstrap responsive video -->
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/mlVrkiCoKkg" frameborder="0" allowfullscreen></iframe>
          </div><!-- /bootstrap responsive video -->
        </div>
        <div class="col-md-2 col-sm-2"><!-- right spacer --></div>
      </div><!-- responsive centered video -->

    </div>
  </div>
</section>
<!-- /VIDEO , PARALLAX -->