<section>
  <div class="container">
  
    <header class="text-center">
      <h2>What you can expect from <strong>CrossRater</strong></h2>
      <p class="lead">We want to provide a centralized way for CrossFitters worldwide to be able to interact with each other and share their thoughts.</p>
      <div class="divider half-margins onepage center"><!-- lines divider --></div>
    </header>

    <!-- FEATURED BOXES 1 -->
    <div class="row">
      <div class="col-md-3">
        <div class="featured-box noborder"><!-- add .transparent for no background color -->
          <i class="fa fa-user"></i>
          <h4>User Accounts</h4>
          <p>Signing up for your own account is simple and <strong>free</strong>.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="featured-box noborder"><!-- add .transparent for no background color -->
          <i class="fa fa-comments"></i>
          <h4>Honest Reviews</h4>
          <p>From real members invested in maintining their high quality communities.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="featured-box noborder"><!-- add .transparent for no background color -->
          <i class="fa fa-search-plus"></i>
          <h4>12,000+ Affiliates</h4>
          <p>Search through every CrossFit Box in the world and see what people have to say.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="featured-box noborder"><!-- add .transparent for no background color -->
          <i class="fa fa-map-marker"></i>
          <h4>Continuously Updated</h4>
          <p>We're always on the lookout to add new boxes and features for our users.</p>
        </div>
      </div>
    </div>
    <!-- /FEATURED BOXES 1 -->

  </div>
</section>
<!-- /WELCOME -->