/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/* General styling */

html {
  height: 100%;
}

body {
  padding-top: 60px;
  padding-bottom: 75px;
}

/* Devise views styling */

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

/* Show page styling */

.gym-title{
  display: flex;
  justify-content: center;
}



/* Footer */

footer {
  position: fixed;
  left:0px;
  bottom:0px;
  height:50px;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #eaeaea;
  background-color: white;
  z-index:2;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}