<%= simple_form_for [gym, review] do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-8">
      <%= f.input :content, required: true, autofocus: true, label: false, placeholder: "Share your thoughts with us!", input_html: { class: 'input-md' } %>
      <%= f.button :submit, "Submit Review", class: "btn-md btn-info" %>
    </div>
    <div class="col-md-4">

    </div>
  </div>
<% end %>